.card {
    float: left;
    width: calc(33.33% - 32px);
    margin: 16px;
    background-color: var(--background);
    font-family: 'Nunito';
}

.cardImage {
    display: block;
    margin: auto;
    margin-top: 8px;
}
.cardTitle {
    text-align: center;
    margin: 8;
    color: var(--text-color);
}

.cardSubtitle {
    text-align: center;
    margin: 0;
    color: var(--text-color);
}

.cardSizes {
    width: 100%;
    text-align: center;
}
.cardSizeButton {
    margin: 8px;
    border: none;
    border-radius: 4px;
    width: 100px;
    font-size: 20px;
    background-color: var(--darker-blue);
    color: white;
}
.cardSizeButton:hover {
    background-color: var(--text-color);
    transition: .1s background-color linear;
}