.modal {
    position: fixed;
    top: 25%;
    left: 25%;
    width:50%;
    height: 50%;
    background: gray;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.modalCloseButton {
    width: 50px;
    margin: 8px;
    align-self: flex-end;
}